<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
                <div class="container">
                    <h2>Welcome to <span>Possible</span></h2>
                    <p>our best leading hospital services, we provide end-to-end care unit services. There
                        are four critical areas in which we provide to be best</p>
                    <a routerLink="/" class="btn-get-started">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>