<div class="container">
  <form class="form-inline mt-4">
    <div class="mb-2">
      <label for="doctor">Choose Doctor</label>
      <select class="form-control" [(ngModel)]="doc.name" name="name">
        <option [value]="docs.name" *ngFor="let docs of doctor">{{docs.name}}</option>
      </select>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <button class="btn btn-outline-danger my-4 " type="submit" (click)="showDoctorDetails()"><i
          class="fa fa-search"></i></button>
    </div>
  </form>
</div>
<!--  -->
<div class="card text-center">
  <div class="card-header">
    DOCTOR PROFILE
  </div>
  <div class="card-body" *ngIf="doc!=null">
    <div class="container mt-5 d-flex justify-content-center">

      <div class="card p-3">

        <div class="d-flex align-items-center">

          <div class="image">
            <img
              src="../../assets/img/doctors/doctors-3.jpg"
              class="rounded" width="155">
          </div>

          <div class="ml-3 w-100">

            <h4 class="mb-0 mt-0"></h4>
            <span>{{doc.name}}</span>

            <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">

              <div class="d-flex flex-column">

                <span class="articles">Patient Attended </span>
                <span class="number1">{{doc.patient_count}}</span>

              </div>

              <div class="d-flex flex-column">

                <span class="followers mx-2"> Specailzation</span>
                <span class="number2">{{doc.field}}</span>

              </div>


              <div class="d-flex flex-column">

                <span class="rating">Age</span>
                <span class="number3">{{doc.age}}</span>

              </div>

            </div>


            <div class="button mt-2 d-flex flex-row align-items-center">

              <button class="btn btn-sm btn-outline-primary w-100">Call</button>
              <button class="btn btn-sm btn-primary w-100 ml-2">Mail</button>


            </div>


          </div>


        </div>

      </div>

    </div>
  </div>

  <div class="card-footer text-muted">
    Choose Best Inspire Rest
  </div>
  <!--  -->